version: '3.8'

services:
  mongo:
    image: mongo:7.0
    container_name: notes-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: notes
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - database

  backend:
    build:
      dockerfile: Dockerfile
    container_name: notes-backend
    restart: always
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    networks:
      - database
volumes:
  mongo_data:

networks:
  database:
    driver: bridge